@{
    ViewBag.Title = "Página Inicial - Sistema de Faculdade";
}

<div class="jumbotron">
    <h1>Sistema de Faculdade</h1>
    <p class="lead">Trabalho final da disciplina de Tecnologia de Programação II </p>
    <p class="lead">Código fonte disponível no <a href="https://github.com/camilamaas/ProjetoFinalTecnologiaProgramacao" target="_blank"> GitHub</a></p>

</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Você deve desenvolver um sistema, nos moldes do sistema apresentado em aula. Seu sistema deve permitir algum cadastro (formato CRUD - Create Read Update Delete). Você deve implementar no mínimo "4" formulários com CRUD.
        </p>

    </div>
 
</div>