@model ProjetoFinalFaculdade.Models.Disciplina
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>
<p>Ementa: @Model.Ementa</p>
<p>Carga horária: @Model.CargaHoraria</p>


